<div class="container-fluid sub-section" ng-controller='pendingReportsController' block-ui="getpendingreports">
    <div class="row blue-row">
        {{m.searchText}}
        <div class="col-xs-10">
            <div class="col-xs-3">
                Search Name
            </div>
            <div class="col-xs-2">
                Search Type
            </div>

            <div class="col-xs-2">
                Expected Run Date
            </div>

        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary col-xs-12 btn-white pull-right">New Report</button>

        </div>
    </div>
    <!-- {{m.reports}} -->
    
    <div class="submitted-report" ng-repeat="report in m.getFilteredData()">
        <div class="row white-row" ng-click="report.openReport = !report.openReport">
            <div class="col-xs-10">
                <div class="col-xs-3 col-md-3">
                    <i class="fa fa-trash trash-can"></i> {{report.firstName}} {{report.lastName}}
                </div>
                <div class="col-xs-2 col-md-2">
                    {{report.reportType}}
                </div>
                <div class="col-xs-2 col-md-2">
                    {{report.expectedRunDate || '-'}}
                </div>

            </div>

            <div class="col-xs-2">

                <button class="btn btn-primary pull-right col-xs-12" ng-click="goto('/report/' + report.reportId)">Run Report</button>

            </div>
        </div>

    </div>
</div>
