<div class="report-page">
  <ng-include src="'templates/header.html'"></ng-include>

  <!-- <div class="row blue-row">

    <button class="btn btn-grey" ng-click="goto('/')">Cancel</button>

    <button class="btn btn-success pull-right margin-left-10" ng-click="m.publishReport()">Publish Report</button>

    <button class="btn btn-white pull-right margin-left-10" ng-click="m.saveReport()">Save Report</button>

    <button class="btn btn-white pull-right margin-left-10" ng-disabled="true" ng-click="m.previewReport()">Preview Report</button>


  </div> -->
{{m.report}}



</div>
